body {
    font-family: Arial, sans-serif;
    background-color: #a2c3f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.countdown-container {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: #216cf8;
    margin-top: 50px;
    animation: pulse 2s infinite alternate;
}

h1:after {
    content: "📅";
    font-size: 30px;
    margin-left: 10px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.label-date {
    font-size: 20px;
    color: #000;

}

input[type="date"] {
    padding: 8px;
    font-size: 18px;
    border: 1px solid #697dd8;
    border-radius: 4px;
    margin-bottom: 10px;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.clock span {
    display: inline-block;
    font-size: 1em;
    margin: 0 10px;
    padding: 10px;
    background-color: #4b89e7;
    border-radius: 5px;
    color: #fff;
}

footer {
    text-align: center;
    margin-top: 50px;
}

footer p {
    margin-bottom: 10px;
    font-weight: bold;
}

footer a {
    color: #1446a3;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}